* body{
    box-sizing: border-box;
    text-align: center;
}
#portraitMyself{
    width: 80%;
    border-radius: 35px;
}
.introBox{
    text-align: left;
}
.introBox h3{
    margin: 3px;
}
.introBox p{
    margin: 0;
}
.svgPicDoc {
    width: 50px;
}
#knowledgeIcons {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    /* grid-gap: 10px; */
}
#knowledgeIcons img {
    width: 50px;
    height: 67px;
}
#knowledgeIcons > li{
    width: 100%;
    position: relative;
    padding-top: 10px;
}
#iconsContainer > a {
    text-decoration: none;
}
.stripes{
    width: 100%;
    border: red;
    background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}
@media only screen and (min-width: 769px){

}
@media only screen and (min-width: 481px){
    
}